.section {
  &__index {
    position: relative;
    height: 640px;
    @include media-breakpoint-up(md) {
      height: 800px;
    }
    &__banner {
      position: absolute;
      background-image: url("../images/index_tom-crew-5HRCkrSs9Dk-unsplash-1280.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
  &__artDirector {
    background-image: url("../images/index_burningparrot-u2Xn5Bzvllw-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }
  &__product {
    .product {
      &__item {
        height: 360px;
        @include media-breakpoint-up(md) {
          height: 442px;
        }
      }
      &__carouselItem {
        width: 240px;
        height: 240px;
        @include media-breakpoint-up(md) {
          width: 350px;
          height: 350px;
        }
      }
      &__waterfallItem {
        height: 161px;
        @include media-breakpoint-up(lg) {
          &--style1 {
            height: 240px;
          }
          &--style2 {
            height: 350px;
          }
          &--style3 {
            height: 480px;
          }
        }
      }
      &__img {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        bottom: 0;
        &--mark {
          &::before {
            position: absolute;
            content: "On Sale";
            color: white;
            top: 16px;
            right: 16px;
          }
        }
        &--markLeft {
          &::before {
            position: absolute;
            content: "On Sale";
            color: white;
            top: 16px;
            left: 16px;
          }
        }

        &__1 {
          // Tatami Cup
          background-image: url("../images/tom-crew-XtyxEBiA8D8-unsplash.jpg");
        }
        &__2 {
          // Couple Collection
          background-image: url("../images/tom-crew-7HuTGlUfQSo-unsplash.jpg");
        }
        &__3 {
          // Brotherhood Vase
          background-image: url("../images/tom-crew-8_ldgq801cE-unsplash.jpg");
        }
        &__4 {
          // Baifan Bowl
          background-image: url("../images/tom-crew-bgIO-u4GEfI-unsplash.jpg");
        }
        &__5 {
          // Hana Vase
          background-image: url("../images/tom-crew-iUFS1GCpEbk-unsplash.jpg");
        }
        &__6 {
          // Limdae Cup
          background-image: url("../images/tom-crew-oiZAQvxTcYQ-unsplash.jpg");
        }
        &__7 {
          // Sumo Vase
          background-image: url("../images/tom-crew-8_ldgq801cE-unsplash.jpg");
        }
        &__8 {
          // Ceramic Vase
          background-image: url("../images/tom-crew-fZTNZ-7-ong-unsplash.jpg");
        }
        &__9 {
          // Kabi Mug
          background-image: url("../images/tom-crew-vu0lyZYeseY-unsplash.jpg");
        }
        &__10 {
          // Shiro Plate
          background-image: url("../images/tom-crew-YA2E3d7a9Wo-unsplash.jpg");
        }
        &__11 {
          // Shiro Plate
          background-image: url("../images/tom-crew-7HuTGlUfQSo-unsplash.jpg");
        }
      }
    }
    .pagination {
      .active {
        .page-link {
          text-decoration: underline;
        }
      }
    }
  }
  &__subscribe {
    background-image: url("../images/footer__tom-crew-uDF1mW7EUwM-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 224px;
    @include media-breakpoint-up(md) {
      height: 400px;
    }
  }
}

.nav {
  &__productList {
    .nav-link__text {
      position: relative;
      @include media-breakpoint-up(md) {
        font-size: 24px;
      }
      sup {
        position: absolute;
        font-size: 10px;
        top: 7px;
        right: -12px;
        @include media-breakpoint-up(md) {
          font-size: 12px;
          top: 10px;
          right: -14px;
        }
        &.digits {
          right: -7px;
          @include media-breakpoint-up(md) {
            right: -8px;
          }
        }
      }
    }
  }
}

.card-columns {
  column-count: 2;
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
}

.footer {
  input[type="email"] {
    &::placeholder {
      color: map-get($theme-colors, third);
    }
  }
}

.custom {
  &__text{
    @include media-breakpoint-only(md){
      background: linear-gradient(to right,black,white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } 
  }
  &__collapse {
    // display: block;
    position: fixed;
    transform: translateX(-100%);
    transition: all 0.35s;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 100%;

    &.show {
      transform: translateX(0%);
    }
  }
}
