.navbar-expand-md {
  .navbar-collapse .nav-link:hover {
    background-color: map-get($theme-colors, third);
  }
}


.section {
  &__index {
    position: relative;
    height: 640px;
    @include media-breakpoint-up(md) {
      height: 800px;
    }
    &__banner {
      position: absolute;
      background-image: url("../images/index_tom-crew-5HRCkrSs9Dk-unsplash-1280.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
  &__artDirector{
      background-image: url("../images/index_burningparrot-u2Xn5Bzvllw-unsplash.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height:  400px;
  }
  &__carouselProduct{
    &__img{
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 350px;
      height: 350px;
      &--mark{
        &::before{
          position: absolute;
          content: 'On Sale';
          color: white;
          top:16px;
          right: 16px;
        }
      }
      &__1{
        background-image: url("../images/tom-crew-XtyxEBiA8D8-unsplash.jpg");
      }
      &__2{
        background-image: url("../images/tom-crew-7HuTGlUfQSo-unsplash.jpg");
      }
      &__3{
        background-image: url("../images/tom-crew-8_ldgq801cE-unsplash.jpg");
      }
      &__4{
        background-image: url("../images/tom-crew-bgIO-u4GEfI-unsplash.jpg");
      }
    }

  }
  &__subscribe {
    background-image: url("../images/footer__tom-crew-uDF1mW7EUwM-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 224px;
    @include media-breakpoint-up(md) {
      height: 400px;
    }
  }
}




.footer {
  input[type="email"] {
    &::placeholder {
      color: map-get($theme-colors, third);
    }
  }
  .navbar-dark{
    background-color: #121212;
    .navbar-nav .nav-link {
      color: #ffffffde;
    }
  }
}
