

$theme-colors: (
  "primary": #0E8A00 ,
  "secondary": #0000009A,
  "third": #FFFFFF99,
);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .5),
    2: $spacer,
    3: ($spacer * 1.5),
    4: ($spacer * 2),
    5: ($spacer * 3)
  ),
  $spacers
);

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei",  "Helvetica Neue", Arial, sans-serif;



